<% provide(:title, "Scriptures on Topics") %>
<div class="row" align="center">
<h2>Topics Listing</h2>

<div id="tag_cloud">
  <% tag_cloud Scripture.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<% admins_only do %>
  <%= link_to "New Topic", new_topic_path %>
<% end %>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic %></li>
  <% end %>
</ul>
<% admins_only do %>
  <%= link_to "New Topic", new_topic_path %>
<% end %>
</div>