<h1>Word Focus Chapel</h1>
<p>
  <strong>Features</strong>
  <ul>
    <li>Live Streaming</li>
    <li>Sermon Library</li>
    <li>Scriptures by Topics</li>
    <li>Bible Streaming (Audio and Text)</li>
    <li>Resources for Christian Living</li>
    <li>Newsletters</li>
    <li>Online Donations</li>
    <li>Upcoming Events and Calendar</li>
  </ul>
</p>
