<% provide(:title, 'About') %>
<div class="about">
  <div class="large-12 columns">
    <h2 class="about"><strong>Vision</strong></h2>
	<hr>
  </div>
  <div class="row">
	<div class="large-9 columns">
      	<p>
      	  <h4>
    		WORD FOCUS CHAPEL is a thriving and growing parish dedicated to it's 
    		members and surrounding communities. We welcome all to join us in any
    		one of our activities.
    		<br><br>	
    		<strong>We are a family Church</strong>
    	    <br>
    		We also offer Sunday School for young children and Bible study classes
    		for adults.
    	  </h4>	  
      	</p> 
	</div>
	<div class="large-3 columns">
		<%= image_tag("wfc117.png") %>
	</div>
  </div>
  <br>
 
  <div class="large-12">
    <h2 class="about"><strong>Leadership</strong></h2>
	<hr>
  </div>
	<div class="row">
	  <div class="large-3 columns">
	  <h3><strong>Senior Pastors</strong></h3> 
	    <%= image_tag("wfc111.png") %>
	    	<p>
		  
			<strong>Pastor Bolaji</strong>
			He served as the Head of Dept. (HOD) for the Traffic Control and Armor Bearer Prayer departments 
			for several years at Jesus House DC (JHDC) in Silver Spring MD. He later became ordained as a deacon
			 in 2004 and took over the entire Prayer Ministries in 2005, which oversees at least 7 prayer units.
			  In 2009, he got ordained as an Assistant Pastor and has been responsible for handling major prayer 
			  events such as the annual Winter Prayer Retreat for over 1300 attendees and the Annual Prayerthon, 
			  a week long prayer session with God. He is now the Senior Pastor of Word Focus Chapel with a vision 
			  of equipping people to stand solely on God’s word. 
			As a Senior Oracle Database Administrator by profession, he is one of the best in the world. He is 
			one of about 350 Oracle Certified Masters in Database Administrations in the world recognized by 
			Oracle Corporation. For this accomplishment, he is recognized on oracle website as one of the best 
			Database Administrator in the world. He holds many certifications in his field of expertise. 
		Pastor Bolaji has been happily married to Tosin since 2000 and they have two daughters and a son.</p>
		  
		</p>
	  </div>
	  <div class="large-6 columns">
		
		<%= image_tag("wfc124.jpg") %>
	
		<p>
		  <strong>Tosin</strong> gave her life to Christ while attending Christian Evangelical Ministry in 
		  Ikoyi, Lagos, Nigeria in her youthful years. She relocated to the United Stated in 1993. She served in 
		  the choir, maternity ministries and many programs and events for several years at Jesus House DC (JHDC) 
		  until she was promoted to working alongside her husband in the prayer ministries. She helped her husband 
		  managed the needs of the prayer attendees for over 10 years. She is now the First Lady of Word Focus Chapel 
		  helping her husband share the same vision in equipping God’s people to stand solely on His word. She has a 
		  Bachelors in SYSTEMS & COMPUTER SCIENCE, and a Masters in BUSINESS ADMINISTRATION. Her strength is in administration and organization. 
		  Tosin is happily married to Pastor Bolaji and they have 3 children. She is a devoted wife, caring mother, and great woman of God.    
		  
		</p>
	  </div>
	  <div class="large-3 columns">
		<p>
		<h3><strong>Members of the Board</strong></h3>
		<ul>
		  <h4>
			<li><strong>Tolu Peters</strong> <br><small><i>Board Member</i></small></li>
			<li><strong>Lekan Olamide</strong> <br><small><i>Treasurer</i></small></li>
			<li><strong>Tunde Ogunbade</strong> <br><small><i>Board Member</i></small></li>
			<li><strong>Bimbo Fasosin</strong> <br><small><i>Board Member</i></small></li>
			<li><strong>Bode Fuwa</strong> <br><small><i>Secretary</i></small></li>
		  </h4>
		</ul>
		</p>
	</div>
  </div>
</div>