  <div class="row">    
     
    <div class="large-9 push-3 columns">
      <div id="historyModal" class="reveal-modal" data-reveal>  
      <h3>About Word Focus Chapel <small>History</small></h3>
      
      <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>
 
      <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
 
      <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>
 
      <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
       
      <p><a href="#" data-reveal-id="missionModal" class="secondary button">Mission and Vision</a></p>
       <a class="close-reveal-modal">&#215;</a>
       </div>     

       <div id="missionModal" class="reveal-modal" data-reveal> 
      <h3>About Word Focus Chapel <small>Mission and Vision</small></h3>
      
      <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>
 
      <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
 
      <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>
 
      <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
     
      <p><a href="#" data-reveal-id="valuesModal" class="secondary button">Core Values</a></p>
     
      <a class="close-reveal-modal">&#215;</a>
     </div>       

      <div id="valuesModal" class="reveal-modal" data-reveal>  
      <h3>About Word Focus Chapel <small>Core Values</small></h3>
      
      <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>
 
      <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
 
      <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>
 
      <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
   
      <p><a href="#" data-reveal-id="pbjModal" class="secondary button">Leadership</a></p>
     
      <a class="close-reveal-modal">&#215;</a>
    </div>

       <div id="pbjModal" class="reveal-modal" data-reveal> 
      <h3>About Leadership <small>Pastors Bolaji and Tosin Benson</small></h3>
      
      <p><strong>Pastor Bolaji</strong> has been serving God since his youthful years. He gave his life to Christ while attending Christian Community Church in Lagos, Nigeria. He later relocated to the United States in 1997.
		<br>
		He served as the Head of Dept. (HOD) for the Traffic Control and Armor Bearer Prayer departments for several years at Jesus House DC (JHDC) in Silver Spring MD. He later became ordained as a deacon in 2004 and took over the entire Prayer Ministries in 2005, which oversees at least 7 prayer units. In 2009, he got ordained as an Assistant Pastor and has been responsible for handling major prayer events such as the annual Winter Prayer Retreat for over 1300 attendees and the Annual Prayerthon, a week long prayer session with God. He is now the Senior Pastor of Word Focus Chapel with a vision of equipping people to stand solely on God’s word. 
		As a Senior Oracle Database Administrator by profession, he is one of the best in the world. He is one of about 350 Oracle Certified Masters in Database Administrations in the world recognized by Oracle Corporation. For this accomplishment, he is recognized on oracle website as one of the best Database Administrator in the world. He holds many certifications in his field of expertise.
		<br> 
		Pastor Bolaji has been happily married to Tosin since 2000 and they have two daughters and a son.</p>
      
      <p><strong>Tosin</strong> gave her life to Christ while attending Christian Evangelical Ministry in Ikoyi, Lagos, Nigeria in her youthful years. She relocated to the United Stated in 1993.
		<br>
		She served in the choir, maternity ministries and many programs and events for several years at Jesus House DC (JHDC) until she was promoted to working alongside her husband in the prayer ministries. She helped her husband managed the needs of the prayer attendees for over 10 years. She is now the First Lady of Word Focus Chapel helping her husband share the same vision in equipping God’s people to stand solely on His word.
		<br>
		She has a Bachelors in SYSTEMS & COMPUTER SCIENCE, and a Masters in BUSINESS ADMINISTRATION. Her strength is in administration and organization.
		<br>
		Tosin is happily married to Pastor Bolaji and they have 3 children. She is a devoted wife, caring mother, and great woman of God.</p>
      
      <p><a href="#" data-reveal-id="motbModal" class="secondary button">Members of the board</a></p>
       
      <a class="close-reveal-modal">&#215;</a>  
      </div>      
    
       <div id="motbModal" class="reveal-modal" data-reveal> 
      <h3>About Leadership <small>Members of the Board</small></h3>
      
      <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>
 
      <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
 
      <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>
 
      <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
     
      <p><a href="#" data-reveal-id="abModal" class="secondary button">Accountability Board</a></p>
      
      <a class="close-reveal-modal">&#215;</a>
     </div>       

    
    
     <div id="abModal" class="reveal-modal" data-reveal> 
      <h3>About Leadership <small>Accountability Board</small></h3>
      
      <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>
 
      <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
 
      <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>
 
      <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
     
      <p><a href="#" data-reveal-id="historyModal" class="secondary button">Members of the board</a></p>
     
      <a class="close-reveal-modal">&#215;</a>
     </div>    
    </div>
    
     
     
    <div class="large-3 pull-9 columns sticky">
        
      <ul class="side-nav">
        <li><a href="#" data-reveal-id="historyModal">History</a></li>
        <li><a href="#" data-reveal-id="missionModal">Mission and Vision</a></li>
        <li><a href="#" data-reveal-id="valuesModal">Core Values</a></li>
        <li><a href="#" data-reveal-id="pbjModal">Leadership</a></li>
        <li><a href="#" data-reveal-id="pbjModal">Pastors Bolaji and Tosin Benson</a></li>
        <li><a href="#" data-reveal-id="motbModal">Members of the Board</a></li>
        <li><a href="#" data-reveal-id="abModal">Accountability Board</a></li>
      </ul>
      
      <p><%= image_tag("wfc104.png") %></p>
        
    </div>
    
  </div>
    
  
   
  