<% provide(:title, 'Contact') %>
<div class="large-12 columns about">
  <h2><strong>Contact Information</strong></h2>
  <hr>
</div>
<!-- WFC Contact Info -->
<div class="row">
	<div class="large-3 columns">
	<ul>
	  <li>
	    <i class="fa fa-building fa-2x"></i><strong>WORD FOCUS CHAPL</strong>
	    <br>
	    13 C Street, Laurel, MD 20707
	  </li>
	 <ul>
	 </div>
	 <div class="large-3 columns">
	   <ul>
	  <li><i class="fa fa-phone fa-2x"></i> (301) 256-4760</li>
	  </ul>
	  </div>
	  <div class="large-3 columns">
	  <ul>
	  <li><i class="fa fa-facebook fa-2x"></i>Like WFC page</li>
	  </ul>
	  </div>
	  <div class="large-3 columns">
	    <ul>
	  <li><i class="fa fa-twitter fa-2x"></i>Follow WFC</li>	  
	</ul>
  </div>
</div>
<br><br>
<!-- Join Mailing List -->
<div class="large-12 columns about">
  <h2><strong>Contact Word Focus Chapel</strong></h2>
  <hr>
</div>
<div class="row">
  
</div>

