<% provide(:title, "Upcoming Events") %>
<!-- Date Location Title, Time -->

<div class="large-12 columns">
  <div class="row">
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=14"/>
      <img src="http://placehold.it/500x250&text=SEPT"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Worship Service</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>9:30AM</small></h2>        
	  </p>
	  </div>
    </div>
    <hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=19"/>
      <img src="http://placehold.it/500x250&text=SEPT"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Volunteers Meeting</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>9:30PM</small></h2>        
	  </p>
	  </div>
    </div>
    <hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=3"/>
      <img src="http://placehold.it/500x250&text=OCT"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Night Vigil</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>10:00PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=17"/>
      <img src="http://placehold.it/500x250&text=OCT"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Volunteers Meeting</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>9:30PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=31"/>
      <img src="http://placehold.it/500x250&text=OCT"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Hallelujah Night</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>7:00PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=7"/>
      <img src="http://placehold.it/500x250&text=NOV"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Night Vigil</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>10:00PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=21"/>
      <img src="http://placehold.it/500x250&text=NOV"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Night Vigil</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>10:00PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=27"/>
      <img src="http://placehold.it/500x250&text=NOV"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Thanksgiving Holiday</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>8:00PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=5"/>
      <img src="http://placehold.it/500x250&text=DEC"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Night Vigil</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>10:00PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
    	<img src="http://placehold.it/500x250&text=19"/>
    	<img src="http://placehold.it/500x250&text=DEC"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Volunteers Meeting</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>9:30PM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=25"/>
      <img src="http://placehold.it/500x250&text=DEC"/></div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Christmas Day Service</small></h1>
        <h1>Location: <small>Laurel, MD<small></h1>
        <h1>Time: <small>10:00AM</small></h2>        
	  </p>
	  </div>
    </div><hr/>
    <div class="large-3 columns small-3">
      <img src="http://placehold.it/500x250&text=31"/>
      <img src="http://placehold.it/500x250&text=DEC"/>
    </div>
      <div class="large-9 columns">
      <p>
        <h1>Event: <small>Watch Night Service</small></h1>
        <h1>Location: <small>Holiday Inn, Laurel West<small></h1>
        <h1>Time: <small>10:00PM</small></h2>        
	  </p>
	  </div>
    </div>  
  </div>    
</div>