<% provide(:title, "Upcoming Events") %>
<!-- Date Location Title, Time -->
  <!-- Staple -->
  <div class="large-12 columns events">
    <h2><strong>SERVICE TIMES</strong></h2>
    <hr>
  </div>
  <div class="row">
  <div class="large-6 columns events">
  	<p>
  		<ul><h3>
  			<li><strong>CELEBRATION SERVICE</strong><br>
  				SUNDAYS: 9:30 - 11:00 AM</li>
  			<li><strong>MIDWEEK SERVICE</strong><br>
  				WEDNESDAYS:  7:00 - 8:30 PM
  			</li>
  			<li><strong>PRAYER MEETING</strong><br>
  				SUNDAYS: 8:45 - 9:15 AM
  			</li></h3>
  		</ul>
  	</p>
  </div>
  <div class="large-6 columns">
  	<%= image_tag('wfc120.png') %>
  </div>    
</div>
<div class="large-12 events">
  <h2><strong>UPCOMING &#38; SPECIAL EVENTS</strong></h2>
  <hr>
</div>
<div class="row">
  <!-- Special -->
  <div class="large-6 columns">
  	<%= image_tag("wfcinaguration.jpg") %>
  </div>

  <div class="large-6 columns events">
  	 	
  	<p>
  		<ul><h3>
  			<li><strong>INAUGURATION SERVICE</strong><br>
  				FRIDAY SEPT. 12TH 8:00 PM</li>
  			<li><strong>HOLIDAY INN LAUREL WEST</strong><br>
  				I5101 SWEITZER LANE, <br>
  				LAUREL, MD 20707
  			</li>
  			</h3>
  		</ul>
  	</p>
  </div>
</div>