<!-- footer -->
<footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright <%= Date.today.year %> WORD FOCUS CHAPEL.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Resources</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><%= link_to "Donate", '#' %></li>
            <li><%= link_to "Admin", new_user_path %></li>
          </ul>
        </div>
      </div>
    </div><br>
    <div class="large-6 small-6 columns right">
          <form>
            <input type="text" class="search-field" placeholder="Subscribe with email">
          </form>
      	</div>
  </footer>